<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/contribuer">Contribuer</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Liste des Randonnées</h1>
        <!-- Formulaire pour sélectionner le mode de tri -->
        <form action="/" method="get">
            <label for="sort">Trier par :</label>
            <select name="sort" id="sort" onchange="this.form.submit()">
                <option value="name">Alphabétique</option>
                <option value="popularity">Popularité</option>
            </select>
        </form>
        <ul>
            <% hikes.forEach(hike => { %>
                <li><%= hike.name %>: Départ à <%= hike.start_address %> - Score: <%= hike.popularity_score %></li>
            <% }); %>
        </ul>
    </main>
</body>
</html>
