<!DOCTYPE html>
    <html lang="fr">
        <head lang="fr">
            <meta charset="utf-8" />
            <link rel="stylesheet" href="./csscommun.css">
            <link rel="stylesheet" href="./Randonner.css">
          </head>
          <body>
            <!-- le menu de navigation -->
            <div id="banniere" >
              <img src="./dessin-rando.png" alt="Logo du site">
            <div id="titre" > RandoIsère </div>
              <div id="connexion" >
              <img src="./connexion.png" alt="Logo connexion">
              <li><a href="sign-up.html"  >S'inscrire</a></li>
              <li><a href="login.html"  >Se connecter</a></li>
              </div>
            </div>
            <nav>
              <ul class="barre-de-menu">
                <li><a href="/" class="actuel" >Accueil</a></li>
                <li><a href="./Contribuer.html">Contribuer</a></li>
              </ul>
            </nav>
    
            <main>
              <h4>Liste des Randonnées</h4>
              <ul>
                  <% hikes.forEach(hike => { %>
                      <li><%= hike.name %>: Départ à <%= hike.start_address %></li>
                  <% }); %>
              </ul>
          </main>
            
          </body>
    </html> 